.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout_btn {
  background-color: #ba2e2e;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.logout_btn:hover {
  background-color: rgb(186, 46, 46, 0.8);
}

.repo_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5rem;
  row-gap: 2rem;
  margin-top: 1rem;
  padding: 0 2.5rem;
}
